@media screen and (max-width: 375px){
    header img{
        margin: 5px 0px 0px 45px;
        width: 20vw;
        height: auto;
    }

    .botao_verde{
        display: none; 
    }

    .botao_topo{
        display: none;
    }

    header nav div{
        gap: 3vw;
        margin-left: 90px;
    }

    header nav ul{
        gap: 5vw;
    }

    div#div_main h1{
        font-size: 14vw !important;
        margin: 0px;
    }

    div#div_main ul{
        margin-left: 7%;
    }

    div#div_texto{
        margin: 0px;                          
        padding-left: 15%;
        max-width: 100%;
    }

    article h3{
        font-size: 7vw;
    }

    article p{
        font-size: 3vw;
    }

    article ol{
        font-size: 3vw;
    }

    article ol{
        padding-left: 15px;
    }

    button#botao_ancora{
        left: 81;
    }

    div#div_rodape{
        font-size: 6vw;
        margin-right: 10vw;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav#nav_rodape{
        gap: 56px;
        flex-direction: column;
        align-items: center;
    }

    img#img_rodape{
        max-width: 90%;
        height: auto;
        margin-right: 25vw;
    }
}

@media screen and (max-width: 768px){
    header#pagina_inicio .botao_hamburguer{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    header#pagina_inicio .botao_mobile{
        width: 38px;
        height: 30px;
        display: block;
        background-color: #000;
        border-top: 4px solid #fff;
        backface-visibility: hidden;
        cursor: pointer;
    }

    header#pagina_inicio .botao_mobile::before{
        content: "";
        height: 4px;
        margin-top: 10px;
        display: block;
        position: relative;
        background-color: #fff;
        transition: all .3s;
    }

    header#pagina_inicio .botao_mobile::after{
        content: "";
        height: 4px;
        margin-top: 10px;
        display: block;
        position: relative;
        background-color: #fff;
        transition: all .3s;
    }
}

@media screen and (max-width: 768px){
    header img{
        width: 20vw;
        height: auto;
    }

    .botao_verde{
        display: none; 
    }

    .botao_topo{
        display: none;
    }

    header nav div{
        gap: 3vw;
        margin-left: -90px;
    }

    header nav ul{
        gap: 5vw;
        margin-left: 30vw;
    }
    
    main#titulo{
        padding: 0px 24px 100px;
    }

    div#div_main h1{
        font-size: 9vw;
        margin: 40px 10px -30px 0px;
        padding: 0px;
    }

    div#div_main ul{
        margin-left: 0%;
    }

    section{
        margin: -40px 0px 0px -5px;
    }
    
    div#div_texto{
        margin: 0px;
        padding-left: 15%;
        max-width: 90%;
    }

    article h3{
        font-size: 7vw;
    }

    article p{
        font-size: 3vw;
    }

    article ol{
        font-size: 3vw;
    }

    article ol{
        padding-left: 15px;
    }

    button#botao_ancora{
        left: 77vw;
    }

    div#div_rodape{
        font-size: 6vw;
        margin-right: 10vw;
        flex-direction: column;
        flex-wrap: wrap;
    }

    nav#nav_rodape{
        gap: 56px;
        flex-direction: column;
        align-items: center;
    }

    img#img_rodape{
        max-width: 90%;
        height: auto;
        margin-right: 25vw;
    }

    div#icons svg{
        width: 5vw;
        height: auto;
    }

}

@media screen and (max-width: 768px){

}